---
import BlogPostCard from "../utility/BlogPostCard.astro";

const { randomBlogPosts } = Astro.props;
---

<section class="my-6">
  <div class="flex items-center justify-center py-6 px-6 lg:px-24 text-center">
    <header class="max-w-2xl">
      <h2 class="text-5xl mb-4 font-bold text-black">Ähnliche Blog-Artikel</h2>
    </header>
  </div>
  <div
    class="grid grid-cols-1 lg:grid-cols-3 mx-6 md:mx-6 lg:mx-16 xl:mx-48 2xl:mx-72"
  >
    {
      randomBlogPosts.map((post) => (
        <BlogPostCard
          post={post}
          isBlogMainPage={false}
          isSimilarBlogCard={true}
          isResponsive={false}
        />
      ))
    }
  </div>
</section>
