---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Das 3D-Druck-Wiki | 3D-Druck-Schmiede";
const description = "Im Wiki viele 3D-Druck-Begriffe kennenlernen."
---

<BaseLayout title={title} description={description}>
  <h1>3D-Druck-Wiki</h1>

</BaseLayout>