---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

import image404 from "../images/404-image.png";
const title = "Seite nicht gefunden";
const description =
  "3d-Druck und 3D Modeling mit 3D-Druck-Schmiede aus Friedrichshafen";
---

<BaseLayout title={title} description={description}>
  <section>
    <div
      class="flex flex-col items-center justify-center py-32 px-6 lg:px-24 text-center"
    >
      <Image src={image404} alt="w" width="400" />
      <h1 class="text-5xl lg:text-7xl mb-4 font-bold">404</h1>
      <p class="text-2xl mb-8">Seite nicht gefunden</p>
      <p class="text-xl mb-8">
        Überprüfe die Adresse oder spring <a
          class="underline text-primary hover:text-black"
          href="/">zur Hauptseite zurück</a
        >
      </p>
    </div>
  </section>
</BaseLayout>
