---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Unsere Leistungen | 3D-Druck-Schmiede";
const description = "Diese Leistungen bieten wir Ihnen an."
---

<BaseLayout title={title} description={description}>
  <h1>Leistungen</h1>

</BaseLayout>