---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Unser Portfolio | 3D-Druck-Schmiede";
const description = "Alle abgeschlossenen Kunden-Projekte."
---

<BaseLayout title={title} description={description}>
  <h1>Portfolio</h1>

</BaseLayout>