---
import HeaderLink from './HeaderLink.astro';
const today = new Date();
---

<footer>
	<div>
		<HeaderLink href="/leistungen">Leistungen</HeaderLink>
		<HeaderLink href="/portfolio">Portfolio</HeaderLink>
		<HeaderLink href="/wiki">3D-Druck-Wiki</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/kontakt">Kontakt</HeaderLink>
	</div>
	<div class="p-3">
		<HeaderLink href="/impressum">Impressum</HeaderLink>
		<HeaderLink href="/datenschutz">Datenschutz</HeaderLink>
		<HeaderLink href="/sitemap">Sitemap</HeaderLink>
	</div>
	&copy; {today.getFullYear()} 3D-Druck-Schmiede | Diese Website dient zu Testzwecken für eine Bachelor-Thesis
	
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}

	div a:hover {
    color: var(--accent);
  }
</style>
