---
import { Breadcrumbs } from "astro-breadcrumbs";

import "astro-breadcrumbs/breadcrumbs.css";

export interface Props {
  backgroundGray: boolean;
}

const { backgroundGray } = Astro.props;
---

<section
  class={backgroundGray
    ? "bg-gradient-to-r from-primary to-primary-lighter md:bg-none md:bg-background"
    : ""}
>
  <div class="flex items-center justify-center py-32 px-6 lg:px-24 text-center">
    <header class="max-w-2xl">
      <div class:list={[
        "my-6 flex justify-center",
        { "text-white md:text-black": backgroundGray },
      ]}>
        <Breadcrumbs linkTextFormat="capitalized" indexText="Startseite">

          <svg slot="separator" width="24" height="24" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.10876 14L9.46582 1H10.8178L5.46074 14H4.10876Z"
              fill="#000000"
            />
          </svg>
        </Breadcrumbs>
      </div>

      <h1
        class:list={[
          "text-5xl md:text-7xl mb-4 font-bold",
          { "text-white md:text-black": backgroundGray },
        ]}
      >
        <slot name="hero-heading" />
      </h1>
      <p
        class:list={[
          "text-xl text-gray-700 mb-8",
          { "text-white md:text-black": backgroundGray },
        ]}
      >
        <slot name="hero-subheading" />
      </p>
    </header>
  </div>
</section>
<style>
.c-breadcrumbs ol li a {
  background-color: black;
}
</style>
