---
import { Breadcrumbs } from "astro-breadcrumbs";

import "astro-breadcrumbs/breadcrumbs.css";
---

<div class="my-6 flex justify-center items-center">
  <Breadcrumbs
    linkTextFormat="capitalized"
    indexText="Startseite"
    truncated={true}
  >
    <svg
      slot="separator"
      width="24"
      height="24"
      viewBox="0 0 15 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4.10876 14L9.46582 1H10.8178L5.46074 14H4.10876Z"
        fill="#000000"></path>
    </svg>
  </Breadcrumbs>
</div>
<style>
  .c-breadcrumbs ol li a {
    background-color: black;
  }
</style>
